body {
  padding-bottom: 30px;
  position: relative;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
}

a {
  transition: background 0.2s, color 0.2s;
}
a:hover,
a:focus {
  text-decoration: none;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 195px;
  width: 0;
  height: 100%;
  margin-left: -195px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #fff;
  transition: all 0.5s ease;
  border-right:solid 1px #D9D9D9;
}

#wrapper.toggled #sidebar-wrapper {
  width: 195px;
}

.sidebar-brand {
  position: absolute;
  top: 0;
  width: 195px;
  text-align: center;
  padding: 20px 10px;
  display: flex;
  align-items: end;
}
.toggled .sidebar-brand .logo{
  display: none;
  transition: all 0.5s ease;
}
.navbar-header{
  width: 60px;
}
.navbar-header a{
  max-width: 0 !important;
}
.sidebar-nav {
  position: absolute;
  top: 75px;
  width: 195px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-left: 20px;
}
.sidebar-nav > li {
  text-indent: 10px;
  line-height: 62px;
  position: relative;
}
.submenu::after{
  position: absolute;
  right: 15px;
  top: 6px;
  content: url('../images/chevron-up.svg');
}
.sidebar-nav > li a {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}
/* .sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
  text-decoration: none;
  color: #fff;
  background: #F8BE12;
} */
.sidebar-nav > li > a img {
  font-size: 24px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -195px;
}
#navbar-wrapper .navbar {
  border-bottom:solid 1px #D9D9D9;
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
  background-color: #FFF;
}
.profile{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.profileIcon{
  width: 105px;
}
.searchbox{
  position: relative;
}
.serchInput{
  /* position: absolute;
  right: 15px;
  top: 6px; */
  background: url('../images/chevron-up.svg');
}
.search-box{
 height: unset !important;
  border: solid 1px #D9D9D9 !important;
  padding: 10px !important;
  border-radius: 8px;
  background: #F9F9F9;
}
#navbarNav ul li{
  padding: 0 10px;
  position: relative;
}
#navbarNav ul li:first-child{
  border-right: solid 1px #D9D9D9;
}
/* #navbar-wrapper .navbar a {
  color: #757575;
}
#navbar-wrapper .navbar a:hover {
  color: #F8BE12;
} */

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: 100px;
}
#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -195px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left: 195px;
  }
  
  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 195px;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 60px;
  }
  
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width: 60px;
  }
  
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -195px;
}
  
  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -195px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 195px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 195px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 60px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 195px;
  }
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -195px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -195px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 195px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 195px;
  }
}

.sidebar-wrapper .sidebar-menu .sidebar-submenu {
  display: none;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
  transform: rotate(90deg);
  right: 17px;
}